.l-about {
  width: 100%;
  height: max-content;
  &__card {
    padding: $padding__card;
    margin-bottom: 2rem;
    aspect-ratio: auto;

    background: $color--gray6;
    border-radius: $radius__card;
    display: flex;
    &:last-of-type {
      margin-bottom: 0;
    }
  }
  &__img {
    height: 100%;
    max-width: 8rem;
    min-height: 8rem;
    aspect-ratio: 1 / 1;

    border-radius: 50%;

    overflow: hidden;
  }
}
