.l-header {
  width: 100%;
  height: $height__header;
  padding: 0;

  background: $color--light;
  box-shadow: $shadow__header;

  display: flex;
  align-items: center;

  position: sticky;
  top: 0;
  z-index: 1200;
  @media screen and (max-width: $xxl) {
    height: $height__header--m;
  }
  &__img {
    width: 4rem;
    height: 4rem;
    margin-right: 1rem;
  }
  &__text {
    @include text(medium, 500);
    color: $color__font--text;
    line-height: 150%;
    &:hover {
      color: $color__font--text;
    }
    &:focus,
    &:active,
    &:visited {
      color: $color__font--text;
    }
    @media screen and (max-width: $sm) and (orientation: portrait) {
      @include text(normal, 500);
      line-height: 160%;
    }
  }
  &__list {
    width: 100%;
    height: 100%;

    display: flex;

    position: relative;
    @media screen and (max-width: $xxl) {
      flex-direction: column;
      align-items: flex-start;
    }
  }
  &__link {
    @include clear(btn);
    width: 100%;
    height: $height__nav;
    padding: $padding__action;

    @include text(normal, 500);
    color: $color__font--text;

    display: flex;
    align-items: center;
    justify-content: start;

    @include cursor(pointer);
    &--sub {
      padding-left: $margin__block;
    }
  }
  &__item {
    width: 100%;
    height: 100%;

    @include heading(h6);
    white-space: nowrap;

    display: flex;
    align-items: center;

    position: relative;
    @include interation(btn);
    @include cursor(pointer);
    @media screen and (max-width: $xxl) {
      width: 100%;

      flex-direction: column;
      align-items: flex-start;

      border-bottom: $border__offcanvas-item;
      &::after {
        @include pesudo($icon__right);

        color: $color--secondary;

        top: 50%;
        left: auto;
        right: 2rem;
        transform: translateY(-50%);
      }
      &:hover {
        &::after {
          color: $color--light;
        }
      }
    }
  }
  &__toggle {
    width: 2.75rem;
    height: 2.75rem;
    padding: 0;

    border: none;

    display: flex !important;
    justify-content: flex-end;
    align-items: center;
    &:focus,
    &:active {
      box-shadow: none;
    }
    .navbar-toggler-icon {
      width: 1.5rem;
      height: 1.5rem;

      background-image: none;
    }
    @media screen and (min-width: $xxl) {
      display: none !important;
    }
  }
  &__offcanvas {
    width: 60%;
    height: 100%;

    flex-direction: row;
    justify-content: flex-end;
  }
  &__top {
    height: $height__header;
    min-height: $height__header;
    @media screen and (max-width: $xxl) {
      height: $height__header--m;
      min-height: $height__header--m;
    }
  }
  &__body {
    display: flex;
    align-items: center;

    overflow: visible;
    @media screen and (max-width: $xxl) {
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;

      overflow-y: auto;
    }
  }
  &__logo {
    padding: $padding__action;
    @media screen and (max-width: $sm) {
      padding: 0;
    }
  }
}

.offcanvas {
  width: 60%;
  @media screen and (min-width: $md) {
    width: 40%;
  }
}

.l-footer {
  height: $height__footer;
  padding: 3.75rem 0;

  display: flex;
  flex-direction: column;
  align-items: start;
  @media screen and (max-width: $md) and (orientation: portrait) {
    height: max-content;
  }
  &__list {
    margin-bottom: 1rem;

    display: flex;
    align-items: stretch;
    @media screen and (max-width: $md) and (orientation: portrait) {
      flex-direction: column;
    }
  }
  &__item {
    padding: 0.5rem 1rem;

    @include text(normal, "");

    position: relative;
    &::after {
      content: "｜";
      position: absolute;
      right: -0.5rem;
      top: 50%;
      transform: translateY(-50%);
    }
    &:first-of-type {
      padding-left: 0;
    }
    &:last-of-type {
      &::after {
        display: none;
      }
    }
    @media screen and (max-width: $md) and (orientation: portrait) {
      padding: 0.5rem 0;
      &::after {
        display: none;
      }
    }
  }
  &__wrapper {
    height: 100%;
    margin: 0 $margin__block 0 0;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    @media screen and (max-width: $sm) and (orientation: portrait) {
      margin: 0 0 1rem 0;
    }
  }
  &__img-wrapper {
    width: 100%;
    height: 4rem;
  }
  &__img {
    @media screen and (max-width: $sm) and (orientation: portrait) {
      object-position: 0;
    }
  }
  &__text {
    @include text(normal, "");
    @media screen and (max-width: $md) and (orientation: portrait) {
      @include text(small, "");
      text-align: center;
    }
  }
  &__subtitle {
    @include text(normal, "");
    color: $color__font--muted;
    @media screen and (max-width: $md) and (orientation: portrait) {
      text-align: center;
    }
  }
}

.l-main {
  &__img {
    width: 50%;
    aspect-ratio: 1 / 1;
  }
  &__title {
    @include heading(h3);
  }
}
