.l-macrobenthos {
  &__content {
    padding: 4rem 2rem 2rem;
    margin-top: 2.75rem;
    background: $color__bg;

    overflow: hidden;
    position: relative;
  }
  &__card {
    width: 100%;
    aspect-ratio: 1 / 1;
    padding: 1rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
  &__img {
    width: 80%;
    height: 80%;
    aspect-ratio: 1 / 1;

    background: $color--gray4;

    position: relative;
    z-index: 0;
    &::before {
      @include pesudo("");
      width: 100%;
      aspect-ratio: 1 / 1;

      background: $color--light;

      left: -1.5rem;
      top: -1.5rem;
      z-index: -1;
    }
  }
  &__name {
    @include text(medium, "");
    white-space: nowrap;
    text-align: center;
  }
  &__cover {
    width: 100%;
    height: calc(100vh - $height__header - $padding__page - $height__breadcrumb - $margin__breadcrumb);

    border-radius: $radius__block;
    overflow: hidden;

    position: relative;
  }
  &__info {
    min-width: 35vw;
    padding: $padding__action 2rem;
    background: $color__opacity--light;

    border-radius: 0 $radius__block $radius__block 0;

    position: absolute;
    left: 0;
    top: auto;
    bottom: 2rem;
  }
  &__subtitle {
    @include text(normal, "");
    &--i {
      font-style: italic;
    }
  }
  &__article {
    margin-top: $padding__page;
  }
  &__heading {
    width: max-content;
    padding: 1rem 4rem;
    margin-bottom: 1rem;

    background: $color__bg;
    border-radius: $radius__list;
    @include heading(h5);
  }
  &__section {
    margin-bottom: 2rem;
    &:last-of-type {
      margin-bottom: 0;
    }
  }
  &__text,
  &__list {
    @include text(normal, "");
    margin-left: 2rem;
  }
  &__item {
    @include text(normal, "");
  }
  &__seg {
    margin-right: 1rem;

    position: relative;
    &::after {
      @include pesudo("，");

      top: 50%;
      left: auto;
      right: -1rem;
      transform: translateY(-50%);
    }
    &:first-of-type {
      margin-right: 0.5rem;
      &::after {
        content: "";
      }
    }
    &:last-of-type {
      &::after {
        content: "。";
      }
    }
  }
  &__tag {
    @include text(small, "");
    color: $color__font--subtext;
    text-align: end;
  }
  .MuiSkeleton-rectangular {
    width: 100%;
    height: auto;
    aspect-ratio: 1 / 1;
  }
}

.l-eco-environmental-survey {
  &__title {
    @include heading(h2);
    color: $color__font--text;
  }
  &__placeholder {
    height: 25rem;
  }
}
