body {
  font-family: "Inter", "Noto Sans TC", sans-serif;
  font-size: 1rem;
  letter-spacing: 0;
  line-height: 110%;
  color: $color__font--text;

  overflow: overlay;

  @include scrollbar("");
}

h1 {
  @include heading(h1);
}

h2 {
  @include heading(h2);
}

h3 {
  @include heading(h3);
}

h4 {
  @include heading(h4);
}

h5 {
  @include heading(h5);
}

h6 {
  @include heading(h6);
}

p {
  margin-bottom: 0.5rem;

  @include text(normal, "");
}

a {
  @include clear(btn);
  color: inherit;
  @include cursor(pointer);
  &:hover {
    color: inherit;
  }
  &:focus,
  &:active {
    box-shadow: $shadow--focus;
  }
}

#windy {
  width: 100%;
  height: 400px;
}

.swal2 {
  $_: "swal2";
  &-container {
    z-index: 1500 !important;
  }
  &-styled {
    &.#{$_}-cancel {
      height: 2.75rem;

      background: $color--gray5;
      color: $color__font--text;

      transition: $transition;
    }
    &.#{$_}-deny {
      height: 2.75rem;

      transition: $transition;
    }
    &.#{$_}-confirm {
      height: 2.75rem;

      transition: $transition;
    }
  }
}

.u {
  &-page {
    padding: $margin__section 0;
  }
  &-section {
    margin-bottom: $margin__section;
    &:last-of-type {
      margin-bottom: 0;
    }
  }
}

.e-img {
  width: 100%;
  height: 100%;
  &--contain {
    object-fit: contain;
  }
  &--cover {
    object-fit: cover;
  }
}

.e-icon {
  @include text(normal, 400);
  font-size: 1rem;

  @include interation(icon);
  @include cursor(pointer);
  &--primary {
    color: $color--primary;
  }
  &--secondary {
    color: $color--secondary;
  }
  &--right {
    margin-right: 0.5rem;
  }
  &--left {
    margin-left: 0.5rem;
  }
  &--both {
    margin: 0 0.5rem;
  }
  &--deco {
    color: $color--gray4;
  }
  &--muted {
    color: $color__font--muted;
  }
  &--light {
    color: $color__font--light;
  }
  &.active {
    color: $color--secondary;
  }
}

.e-btn {
  $_: &;
  @include clear(btn);
  padding: $padding__action;
  height: $height__input;
  @include cursor(pointer);

  display: flex;
  align-items: center;
  justify-content: center;

  @include text(normal, 400);
  &--text {
    width: max-content;
    padding: 0 $padding__action;
    height: 2.75rem;

    @include clear(btn);
    border-radius: $radius__btn;

    display: flex;
    align-items: center;
    justify-content: center;
  }
  &--wmax {
    width: max-content;
  }
  &--w100 {
    width: 100%;
    height: 2.75rem;

    @include clear(btn);
    border-radius: $radius__btn;

    display: flex;
    align-items: center;
    justify-content: center;
  }
  &--icon {
    width: 2.75rem;
    height: 2.75rem;

    @include clear(btn);
    border-radius: $radius__btn;

    display: flex;
    align-items: center;
    justify-content: center;
  }
  &--tab {
    height: 2.75rem;
    padding: 0 $padding__action;

    @include clear(btn);
    @include text(normal, 600);
    color: $color__font--text;
  }
  &--primary {
    background: $color--primary;
    border-radius: $radius__btn;
    color: $color__font--light !important;

    transition: $transition;
    &:hover {
      background: $color--secondary;
      color: $color__font--light;
    }
    &:focus,
    &:active {
      background: $color--active;
      color: $color__font--light;
    }
  }
  &--secondary {
    background: $color--secondary;
    border-radius: $radius__btn;
    color: $color__font--light !important;
    @include interation(btn);
  }
  &--opacity {
    border-radius: $radius__btn;
    @include interation(btn--opacity);
  }
  &--disabled {
    opacity: 0.3;

    @include cursor(not-allowed);
    pointer-events: none;
    &:hover,
    &:focus,
    &:active {
      background: $color--primary;
    }
  }
  &:disabled {
    @extend #{$_}--disabled;
  }
  &--muted {
    background: $color--gray5;
    border-radius: $radius__btn;

    transition: $transition;
    &:hover {
      background: $color--gray4;
    }
    &:focus,
    &:active {
      background: $color--gray3;
      color: $color__font--light;
    }
  }
  &--processing {
    height: 2.75rem;
    &[data-count="2"] {
      width: 4.0625rem;
    }
    &[data-count="icon-4"] {
      width: 7.625rem;
    }
    &[data-count="3"] {
      width: 5.09375rem;
    }
    &[data-count="4"] {
      width: 6.125rem;
    }
  }
}

.e-link {
  @include clear(btn);

  color: $color__link;
  @include interation(link);
  @include cursor(pointer);
  &--active {
    color: $color--primary;
  }
  &:hover {
    color: $color--active;
  }
  &--block {
    border-radius: $radius__block;

    display: block;
    &:hover {
      background: $color__bg--primary;
      .c-list {
        &__title {
          background: $color--hover;
        }
        &__tag {
          background: $color--primary;
          color: $color__font--light;
        }
      }
    }
  }
}

.e-hr {
  margin: $margin__hr 0;
  background: $color--gray4;
}

.c-title {
  width: 100%;
  padding: $padding__action;
  margin-bottom: $margin__title;

  background: $color__title;
  border-radius: $radius__list;

  @include heading(h4);
}

.c-subtitle {
  margin-bottom: $margin__title;

  @include heading(h4);
  color: $color--primary;
}

.c-block {
  &__item {
    margin-bottom: 0;
    @include text(normal, "");

    display: flex;
    &:last-of-type {
      margin-bottom: 0;
    }
  }
  &__title {
    width: 5rem;
    min-width: 5rem;
    @include text(normal, 500);
    display: inline-block;
  }
  &__content {
    white-space: wrap;
  }
}

.c-form {
  $_: &;
  &__set {
    margin-bottom: 1rem;
    &:last-of-type {
      margin-bottom: 2rem;
    }
  }
  &__wrapper {
    width: 100%;

    position: relative;
  }
  &__input {
    @include clear(input);
    height: $height__input;

    background-color: $color__input;
    border-radius: $radius__input;
    border: $border__input;

    @include interation(input);
    &::placeholder {
      color: $color--gray4;
    }
    &--textarea {
      height: auto;
    }
    &[readonly] {
      background-color: $color__input;
      &:focus {
        box-shadow: none;
        background-color: $color__input;
      }
    }
  }
  &__label {
    margin-bottom: 0.5rem;

    @include text(normal, 500);
    color: $color__font--text;
  }
  &__required {
    color: $color--error;
  }
  &__actions {
    width: 100%;
    margin-top: 2rem;

    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__action {
    @include clear(btn);
    @extend .e-btn;

    white-space: nowrap;

    @include interation(btn);
    @include cursor(pointer);
    &.action {
      @extend .e-btn--primary;
    }
    &.muted {
      @extend .e-btn--muted;
    }
    &:first-child {
      margin-right: 1rem;
    }
    &:last-child {
      margin-right: 0;
    }
  }
  &__text {
    margin-right: 1rem;
    @include text(normal, "");
    white-space: nowrap;
  }
  &__link {
    @include text(small, 400);

    order: 2;

    display: inline-block;
    @include cursor(pointer);
  }
  &__wrapper {
    position: relative;
  }
  &__icon-btn {
    @include clear(btn);
    @include interation(icon);

    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
  }
  &__icon {
    color: $color--primary;
    &:hover {
      color: $color--hover;
    }
  }
  &__hints {
    margin-top: 0.5rem;
  }
  &__hint {
    @include text(small, 400);
    color: $color__font--muted;

    order: 1;
    &--error {
      color: $color--error;
    }
  }
  &__error {
    @include text(small, 400);
    color: $color--error;
  }
}

.c-accordion {
  $_: &;
  width: 100%;
  &--sidebar {
    #{$_}__toggle {
      padding: 0.5rem;

      @include text(normal, "");
      color: $color__font--text;
      line-height: 200%;

      @include cursor(pointer);
      &::after {
        right: 1rem;
      }
      &:hover {
        background: $color--gray5;
        color: $color__font--text;
        &::after {
          color: $color--secondary;
        }
      }
      &:focus,
      &:not(.collapsed) {
        background: $color__opacity--secondary;
        color: $color__font--text;
        &::after {
          color: $color--secondary;
        }
      }
    }
  }
  &__item {
    border: none;
    box-shadow: none;
    border-radius: $radius__accordion !important;
  }
  &__toggle {
    height: $height__nav;
    padding: $padding__action;

    border-bottom: $border__offcanvas-item;
    border-radius: $radius__accordion !important;

    @include text(normal, 500);
    color: $color__font--text;

    display: flex;
    align-items: center;
    @include interation(btn);
    &::after {
      @include arrow;
      top: 50%;
      left: auto;
      right: 2rem;
      transform: translateY(-50%);
    }
    &:not(.collapsed) {
      box-shadow: none;
      border-bottom: $border__offcanvas-item;
      background: $color--active;

      color: $color__font--light;
      &::after {
        background-image: none;

        color: $color__font--light;

        transform: translateY(-50%) rotate(90deg);
      }
    }
    &:hover {
      &::after {
        color: $color--light;
      }
    }
    &:focus {
      border-bottom: $border__offcanvas-item;
      box-shadow: none;
      &::after {
        color: $color--light;
      }
    }
  }
  &__body {
    padding: 0;
  }
  &__link {
    background: $color__bg--primary !important;
  }
}

.c-dropdown {
  $_: &;
  position: relative;
  &--header {
    &:last-of-type {
      #{$_}__menu {
        left: auto;
        right: 0;
      }
    }
  }
  &__toggle {
    padding: $padding__action;

    @include clear(btn);
    &::after {
      display: none;
    }
    &--highlight {
      color: $color--secondary;
      &:focus,
      &:active {
        color: $color__font--light;
      }
    }
  }
  &__menu {
    width: 15rem;
    min-width: auto;
    max-width: none;
    margin-top: 0;
    padding: 0;

    border-radius: $radius__menu;
    border: none;
    background: $color__bg--primary;
    box-shadow: $shadow__dropdown;

    overflow: hidden;
  }
  &__item {
    padding: 1rem;
    display: block;
  }
}

.c-sidebar {
  width: 100%;
  height: 100%;

  @media screen and (max-width: $lg) {
    overflow-x: auto;
    @include scrollbar(hidden);
  }
  &__tab {
    width: 100%;
    padding: $padding__action;
    margin-bottom: 1rem;

    display: flex;
    justify-content: start;
    align-items: center;

    background: $color--gray6;
    border-radius: $radius__tab;

    @include text(normal, 500);
    @include interation(tab);
    &.active {
      background: $color--primary;

      color: $color__font--light;
      @include cursor(default);
    }
    &:last-child {
      margin-bottom: 0;
    }
    @media screen and (max-width: $lg) {
      margin-right: 0.5rem;
      width: max-content;
      min-width: max-content;
      margin-bottom: 0;
      &:last-child {
        margin-right: 0;
      }
    }
    &--sub {
      width: calc(100% - $margin__block);
      margin-left: $margin__block;
      @media screen and (max-width: $lg) {
        width: 100%;
        margin-left: 0;
      }
    }
  }
  &__title {
    margin-bottom: 1rem;
    @include text(large, 500);
    color: $color--secondary;

    display: flex;
    align-items: center;
  }
}

.c-breadcrumb {
  height: $height__breadcrumb;
  margin-bottom: $margin__breadcrumb;
  &__seg {
    margin-right: 2rem;
    @include text(small, "");
    color: $color__font--muted;

    position: relative;
    &::after {
      @include pesudo($icon__right);
      color: $color--gray4;

      top: 50%;
      left: calc(100% + 0.75rem);
      transform: translateY(-50%);
    }
    &:last-child {
      &::after {
        display: none;
      }
    }
    @media screen and (max-width: $sm) {
      margin-right: 1rem;
      &::after {
        left: calc(100% + 0.125rem);
      }
    }
  }
  &__link {
    color: $color__font--text;
    @include interation(link);
    &--disabled {
      margin: 0;
      @include cursor(default);
      &:hover,
      &:focus,
      &:active {
        color: $color__font--text;
      }
    }
  }
}

.c-article {
  $_: &;
  margin-bottom: 3.75rem;
  &:last-of-type {
    margin-bottom: 0;
  }
  &__title {
    @extend .c-title;
  }
  &__paragraph {
    margin-bottom: 2rem;
    text-indent: 2rem;
    text-align: justify;
    &:last-of-type {
      margin-bottom: 0;
    }
  }
  &__ul {
    margin-top: 1rem;
    padding-left: 1.5rem;
    #{$_}__ol {
      padding-left: 3.5rem;
    }
  }
  &__ol {
    margin-top: 1rem;
    padding-left: 1.5rem;

    list-style-type: number;
    list-style-position: outside;
    &--title {
      #{$_}__oli {
        margin-bottom: 1rem;
        @include heading(h5);
      }
      #{$_}__content {
        margin-top: 0.5rem;
      }
    }
    &--sub {
      margin-top: 0.5rem;
      padding-left: 0;

      counter-reset: list;
      list-style: none;
      #{$_}__oli {
        &::before {
          content: "(" counter(list) ") ";
          counter-increment: list;
        }
      }
    }
  }
  &__oli,
  &__uli {
    margin-bottom: 0.5rem;

    @include text(normal, 400);
    text-indent: 0;

    &:last-of-type {
      margin-bottom: 0;
    }
  }
  &__caption {
    margin-top: 1rem;

    @include text(normal, "");
    text-align: center;
  }
  &__heading {
    margin-bottom: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__subtext {
    @include text(small, "");
    color: $color__font--muted;
    line-height: 150%;
  }
  &__subtitle {
    margin-bottom: 1rem;
  }
}

.c-search {
  width: 100%;
  margin-bottom: $margin__block;

  display: flex;
  flex-direction: column;
  align-items: center;
  &__main {
    @include clear(btn);
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__hot {
    margin-top: 1rem;
    @include text(small, "");
    color: $color__font--subtext;
  }
  &__keyword {
    margin-right: 1rem;

    position: relative;
    &::after {
      @include pesudo("、");

      @include text(small, "");
      color: $color__font--subtext;

      top: 50%;
      left: auto;
      right: -1rem;
      transform: translateY(-50%);
    }
    &:last-of-type {
      margin-right: 0;
      &::after {
        display: none;
      }
    }
  }
  &__clear {
    @include clear(btn);
    padding: 0.375rem 0.5rem;
    height: $height__input;

    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    z-index: 100;
  }
  &__hint {
    margin-top: 0;

    @include text(normal, "");
    text-align: center;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.c-map {
  $_: &;
  width: 100%;
  height: calc(100vh - $height__header);
  border-radius: $radius__block;
  position: relative;
  .leaflet-div-icon {
    @include clear(btn);

    transition: $transition;
    &:hover,
    &:focus,
    &:active {
      z-index: 999 !important;
    }
    &:has(> .active) {
      z-index: 999 !important;
    }
  }
  .leaflet-control {
    &-scale {
      &-line {
        margin-right: 0.5rem;
        background: $color--light;
        border: none;
        border-radius: $radius__tag;
        box-shadow: $shadow__marker;

        @include text(extra-small, "");
      }
    }
    &-zoom {
      border: none;
      &-in,
      &-out {
        background: $color--light;
        border-radius: $radius__tag;
        box-shadow: $shadow__marker;
        border: none;

        color: $color__font--muted;

        transition: $transition;
        &:hover,
        &:focus,
        &:active {
          color: $color__font--muted;
        }
      }
      a {
        &:first-of-type {
          border-radius: 0.25rem 0.25rem 0 0;
        }
        &:last-of-type {
          border-radius: 0 0 0.25rem 0.25rem;
        }
      }
    }
  }
  .leaflet-popup-content {
    width: 100% !important;
    margin: 0;
    &-wrapper {
      width: 100%;
      padding: 1rem;

      border-radius: $radius__popup;
      box-shadow: $shadow__popup;
    }
  }
  .leaflet-popup-close-button {
    span {
      color: $color__font--muted;

      position: absolute;
      top: 0.75rem;
      right: 0.75rem;
    }
  }
  .leaflet-control-layers-toggle {
    display: none;
  }
  &__marker {
    $translate__icon: translateX(-0.5rem);
    @include square(2rem, 0);
    padding: 0.125rem;

    background-color: $color--light;
    border: $border__marker $color--primary;
    border-radius: 50%;
    box-shadow: $shadow__marker;

    position: relative;
    left: 50%;
    top: 100%;
    transform: translate(-50%);

    transition: $transition;
    &[data-type="macrobenthos"] {
      border-color: $color__map-3;
    }
    &[data-type="water-quality"] {
      border-color: $color--primary;
    }
    &[data-type="air-quality"] {
      border-color: $color--accent;
    }
    &:hover {
      border: $border__marker $color--secondary;
    }
    &.active {
      background-color: $color--primary !important;
      background-image: url("../img/icon/location.svg");
      border: $border__marker $color--light;
      transform: scale(1.5) $translate__icon;
      &:hover {
        transform: scale(1.5) $translate__icon;
      }
    }
    &--sm {
      @include square(0.75rem, 50%);
      // padding: 0.0625rem;

      background: $color--secondary;
      border: $border__marker--sm $color--light;
      box-shadow: 0.125rem 0.125rem 0.3rem 0 $color__opacity--dark;
      &:hover {
        border: $border__marker--sm $color--primary;
        transform: scale(1.25) $translate__icon;
      }
      &.active {
        border: $border__marker--sm $color--light;
      }
    }
  }
  &__popup {
    min-width: 20rem;
  }
  &__table {
    border: $border__offcanvas-item;
  }
  &__heading {
    @include text(normal, 500);
  }
  &__row {
    border-bottom: $border__offcanvas-item;

    display: grid;
    grid-template-columns: 1.5fr 2fr;
    &:last-of-type {
      border-bottom: none;
    }
  }
  &__col {
    padding: 0.25rem 0.5rem;
    @include text(small, "");
    line-height: 160%;
    &--title {
      @include text(small, 500);
      line-height: 160%;
      color: $color__font--text;
      background: $color__bg--primary;
    }
  }
  &__wrapper {
    width: 14.5rem;
    max-width: 40vw;
    min-width: 14.5rem;
    height: calc((100vh - $height__header) / 2);

    position: absolute;
    top: 50%;
    right: 100%;
    transform: translateY(-50%);
    z-index: 1000;

    transition: $transition;
    &.active {
      transform: translate3d(100%, -50%, 0);
    }
  }
  &__menu {
    width: 100%;
    height: 100%;
    padding: 0.25rem $padding__popup $padding__popup $padding__popup;

    background: $color--light;
    box-shadow: $shadow__marker;
    border-radius: 0 0 $radius__popup 0;

    transition: $transition;

    position: relative;
    z-index: 0;
  }
  &__tag {
    @include clear(btn);
    width: 2.75rem;
    height: 2.75rem;
    padding: 0.5rem;

    background: $color__bg;
    border-radius: 0 $radius__tag $radius__tag 0;
    box-shadow: $shadow__tag;

    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    top: 0;
    left: 100%;
    z-index: -1;

    transition: $transition;
    &:hover {
      background-color: $color--light;
      box-shadow: $shadow__tag;
    }
    &:focus,
    &:active {
      background: $color--gray5;
      box-shadow: $shadow__tag;
    }
    &.active {
      background: $color--light;
      box-shadow: $shadow__tag;
      z-index: 1;
    }
    &:nth-of-type(2) {
      top: 2.75rem;
    }
  }
  &__btn {
    padding: 0.375rem 0.75rem;
    margin-bottom: 0.5rem;

    background: $color--gray6;
    border-radius: $radius__btn;

    @include text(normal, 400);
    color: $color__font--text;

    transition: $transition;
    &:last-of-type {
      margin-bottom: 0;
    }
    &:hover,
    &:focus,
    &:active {
      background: $color--secondary;
      color: $color__font--light;
    }
    &.active {
      background: $color--secondary;
      color: $color__font--light;
    }
  }
  &__title {
    height: 2.75rem;
    @include text(medium, 500);
    color: $color--secondary;

    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__backdrop {
    width: 100%;
    height: 100%;

    background-color: $color__bg;

    position: absolute;
    top: 0;
    left: 0;
  }
  .c-dropdown {
    &__toggle {
      @include clear(btn);
      @include square(2.75rem, 0);
      padding: 0;

      background: $color--light;
      border-radius: $radius__tag;
      box-shadow: $shadow__tag;

      position: absolute;
      top: 0.625rem;
      right: 0.625rem;
      z-index: 1038;

      transition: $transition;
      &:hover,
      &:focus,
      &:active {
        background: $color--light;
      }
      &::after {
        display: none;
      }
    }
    &__menu {
      padding: 1.5rem;

      background: $color--light;
      border-radius: $radius__tag;
      box-shadow: $shadow__tag;
    }
  }
}

.c-switch {
  width: 100%;
  padding: $padding__action 0 3.75rem;

  display: flex;
  align-items: center;
  @include cursor(pointer);
  &__input {
    width: 2.5rem !important;
    margin: 0 0.5rem 0 0;
    height: 1.25rem;

    background-color: $color--gray4;
    border: none;
    background-image: url("data:image/svg+xml,%3csvg xmlns=%27http://www.w3.org/2000/svg%27 viewBox=%27-4 -4 8 8%27%3e%3ccircle r=%273%27 fill=%27%23fff%27/%3e%3c/svg%3e") !important;
    @include cursor(pointer);
    &:focus {
      box-shadow: none;
      background-image: url("data:image/svg+xml,%3csvg xmlns=%27http://www.w3.org/2000/svg%27 viewBox=%27-4 -4 8 8%27%3e%3ccircle r=%273%27 fill=%27%23fff%27/%3e%3c/svg%3e") !important;
    }
    &:checked {
      background-color: $color--secondary;
    }
  }
  &__label {
    @include heading(h6);
    @include cursor(pointer);
  }
}

.c-tooltip {
  &__legend {
    width: 0.5rem;
    aspect-ratio: 1 / 1;
    margin-right: 0.5rem;
    border-radius: $radius--infinity;
  }
  &__row {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 0.5fr;
  }
  &__column {
    @include text(small, "");
    line-height: 150%;
    &:last-of-type {
      font-weight: 500;
      text-align: end;
    }
  }
}

.c-select {
  $_: &;
  width: 100%;
  margin-bottom: 1rem;

  display: flex;
  align-items: center;
  &__title {
    margin-right: 1rem;
    @include heading(h5);
  }
  &__text {
    @include text(normal, 400);
    color: $color--secondary;
  }
  &__seg {
    margin-right: 0.5rem;
    color: $color__font--subtext;
  }
  &__label {
    margin: 0 1rem 0 0;
    white-space: nowrap;
  }
  &__set {
    margin-right: 1rem;

    display: flex;
    flex-direction: row;
    align-items: center;
  }
  &__input {
    @extend .c-form__input;
    width: max-content;
    &:hover {
      background-color: $color--light;
    }
    &:last-of-type {
      margin: 0;
    }
  }
  &__deco {
    @include square(2.75rem, $radius__btn);
    margin-right: 0.5rem;
    min-width: 2.75rem;

    position: relative;
    &::after {
      @include pesudo("");
      width: 50%;
      height: 100%;

      right: 0;
      left: auto;
    }
    &[data-color="main"] {
      background: $color__graph--double-1;
    }
    &[data-color="sub"] {
      background: $color__graph--double-2;
    }
    &[data-color="solid"] {
      border: 0.0625rem solid $color--gray1;
      background: $color__graph--double-1;
      &::after {
        background: $color__graph--double-2;
      }
    }
    &[data-color="line"] {
      border: 0.0625rem solid $color--gray1;
      background: $color__graph--plain-1;
      &::after {
        background: $color__graph--plain-2;
      }
    }
  }
}

.c-intro {
  margin-bottom: 2rem;
  &__img {
    width: $size__icon--landscape;
    margin-bottom: 0.5rem;
    @media screen and (orientation: portrait) {
      width: $size__icon--portrait;
    }
  }
  &__title {
    @include heading(h3);
  }
}

.c-tab {
  $_: &;
  &__tabs {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }
  &__tab {
    @extend .e-btn;
    background: $color--light;
    @include text(normal, 400);

    transition: $transition;
    &.active {
      color: $color__font--light;
      background: $color--primary;

      position: relative;
      z-index: 1;
    }
    &--pill {
      margin-bottom: 0.5rem;
    }
  }
  &__content {
    padding: $padding__card;

    background: $color--gray6;
    border-radius: 0 0 $radius__block $radius__block;

    @include text(normal, 400);
  }
  &--heading {
    #{$_}__tab {
      border-radius: $radius__tab $radius__tab 0 0;
    }
  }
  &--tag {
    #{$_}__tabs {
      margin-bottom: 1rem;
    }
    #{$_}__tab {
      margin-right: 0.5rem;
      background: $color--gray6;
      border-radius: $radius__tab;
      @include interation(tab);
      &.active {
        color: $color__font--light;
        background: $color--primary;
      }
    }
  }
}

.c-list {
  &__title {
    width: 100%;
    margin: 0 2rem 1rem 0;
    padding: 1rem;

    background: $color__bg--primary;
    border-radius: $radius__list;

    @include heading(h5);
    color: $color__font--text;

    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__text {
    margin-right: 1rem;
    @include text(normal, "");
    color: $color__font--subtext;
    &--muted {
      color: $color__font--muted;
    }
    &--strong {
      font-weight: 500;
    }
    @include text-truncate(1);
  }
  &__heading {
    margin-right: 0.5rem;
    @include text(normal, 500);
    color: $color--primary;
  }
  &__tag {
    height: $height__tag;
    margin: 0.5rem 0.5rem 0 0;
    &:last-of-type {
      margin-right: 0;
    }
  }
  &__subtext {
    margin-left: 0.5rem;

    @include text(normal, "");

    display: flex;
    align-items: center;
  }
  &__content {
    padding: 0 1rem;
  }
}

.c-tag {
  padding: $padding__tag;
  height: 2.25rem;
  @include text(small, "");
  background: $color__tag;
  border-radius: $radius__tag;

  display: flex;
  align-items: center;
  justify-content: center;
}

.c-modal {
  z-index: 1299;
  &__title {
    margin-top: 2rem;
  }
  &__backdrop {
    background: $color--gray5;

    z-index: 1298;
  }
  &__dialog {
    max-width: 70vw;
    @media screen and (max-width: $md) {
      max-width: none;
    }
  }
  &__content {
    border: none;
    border-radius: $radius__block;
    box-shadow: $shadow__popup;
  }
  &__body {
    padding: $padding__modal;
    @include scrollbar("");
    @media screen and (max-width: $md) {
      padding: $padding__menu--m;
    }
  }
}

.c-card {
  width: 100%;
  padding: $padding__card;

  background: $color__bg;
  border-radius: $radius__block;
  &__title {
    @include heading(h5);
    text-align: center;
  }
  &__highlight {
    margin-right: 0.25rem;
    @include text(large, 500);
    color: $color--secondary;
    text-align: center;
    &--normal {
      margin-right: 0;
      @include text(normal, 500);
      color: $color--secondary;
      line-height: 150%;
      text-align: center;
    }
  }
  &__subtext {
    @include text(small, "");
    color: $color__font--muted;
    text-align: center;
  }
  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  &__text {
    @include text(normal, "");
  }
  @media screen and (min-width: $xl) {
    height: 100%;
  }
}

.c-heading {
  margin-bottom: $margin__block;
}

.c-badge {
  width: 1rem;
  height: 1rem;
  margin-left: 0.5rem;

  background: $color--error;
  border-radius: $radius__tag;

  @include text(extra-small, "");
  color: $color--light;

  display: flex;
  align-items: center;
  justify-content: center;
  &--muted {
    background: $color--gray6;
    color: $color__font--subtext;
  }
}

.c-placeholder {
  $_: &;
  width: 100%;
  height: 100%;

  background: $color--gray6;
  border-radius: $radius__block;
  // -webkit-mask-image: -webkit-radial-gradient(white, black);

  overflow: hidden;
  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;
  &::after {
    @include pesudo("");
    width: 100%;
    height: 100%;
    animation: slideRight 1.6s linear 0.5s infinite;
    -webkit-animation: slideRight 1.6s linear 0.5s infinite;
    background: linear-gradient(90deg, transparent, rgba(0, 0, 0, 0.04), transparent);
    transform: translateX(-100%);

    top: 0;
    left: 0;
  }
  &--list {
    height: 4rem;
    margin-bottom: 0.5rem;
    #{$_}__icon {
      display: none;
    }
    &:last-of-type {
      margin-bottom: 0;
    }
  }
  &--block-list {
    height: 10rem;
    margin-bottom: 2rem;
    &:last-of-type {
      margin-bottom: 0;
    }
  }
  &--graph {
    padding: $padding__card;
    #{$_}__icon {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
    #{$_}__text {
      @include text(small, 400);
      color: $color--primary;
    }
    .c-spinner {
      @include square(3rem, 0);
      margin-bottom: 0.25rem;
    }
  }
  &--block {
    aspect-ratio: 1 / 1;
    background: transparent;
    &::after {
      display: none;
    }
    #{$_}__icon {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
    #{$_}__img {
      @include square(3rem, 0);
      margin-bottom: 0.25rem;
    }
    #{$_}__text {
      @include text(small, 400);
      color: $color--primary;
    }
  }
  &--text {
    height: 2.75rem;
    margin-bottom: 0.5rem;
    @include text(normal, 400);
    color: $color--primary;
    #{$_}__icon {
      display: none;
    }
  }
}

.c-checkbox {
  $_: &;
  margin-bottom: 0.5rem;

  display: flex;
  align-items: flex-start;
  &:last-of-type {
    margin-bottom: 0;
  }
  &--btn {
    #{$_}__set {
      width: 100%;
      position: relative;
    }
    #{$_}__input {
      position: absolute;
      left: 0.5rem;
    }
    #{$_}__label {
      width: 100%;
      padding: 0.75rem 1rem;
      padding-left: 2rem;

      background: $color--light;

      text-align: start;
      white-space: normal;
      line-height: 1.5;
    }
  }
  &__set {
    display: flex;
    align-items: center;
    @include cursor(pointer);
  }
  &__input {
    @include clear(input);
    @include square(1rem, 0.25rem);
    max-width: 1rem;
    min-width: 1rem;
    padding: 0;
    margin: 0 0.5rem 0 0;

    background-color: $color--light;
    border: $border__input--active;
    border-radius: $radius__input;
    &:checked {
      accent-color: $color--primary;
      background-color: $color__link;
      border: $border__input--checked;
    }
    &:focus,
    &:active {
      box-shadow: $shadow--focus;
    }
  }
  &__label {
    margin-bottom: 0;

    border-radius: $radius__btn;

    @include text(normal, 400);
    color: $color__font--text;
    white-space: nowrap;
    @include interation(btn);
  }
  &--col {
    flex-direction: column;
    #{$_}__set {
      margin: 0 1rem 0.5rem 0;
    }
    #{$_}__input {
      padding: 0;
    }
    #{$_}__label {
      margin-bottom: 0;
    }
    #{$_}__row {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
    }
    #{$_}__title {
      @extend .c-form__label;
    }
  }
  &--check {
    #{$_}__input {
      background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3E%3Cpath fill='none' stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='m6 10 3 3 6-6'/%3E%3C/svg%3E");
    }
  }
}

.c-alert {
  @mixin text--important($size, $weight) {
    font-family: "Inter", "Noto Sans TC", sans-serif !important;
    font-style: normal !important;
    line-height: 160% !important;
    letter-spacing: 0.03125rem !important;
    font-weight: $weight !important;

    @if ($size == "normal") {
      font-size: 1rem !important;
    } @else if ($size == "small") {
      font-size: 0.875rem !important;
    }
  }
  &__container {
    padding-right: $margin__alert;
  }
  &__overlay {
    background: $color__opacity--dark !important;
  }
  &__modal {
    background-color: $color--light !important;
    border: none !important;
    border-radius: $radius__block !important;
  }
  &__title {
    color: $color__font--text !important;
    @include text--important(normal, 400);
  }
  &__htmlContainer {
    color: $color__font--text !important;
    @include text--important(normal, 400);
  }
  &__toast {
    background-color: $color__bg--alert !important;
    border: none !important;
    border-radius: $radius__list !important;
    box-shadow: $shadow__alert !important;
    overflow: auto;

    top: $height__header !important;
    &--permanent {
      top: auto !important;
      box-shadow: $shadow__alert !important;
    }
  }
  &__subtitle {
    color: $color__font--text !important;
    @include text--important(normal, 400);
  }
  &__btn {
    border-radius: $radius__btn !important;

    @include text--important(small, 400);
    color: $color__font--text !important;

    transition: $transition;
    &:hover {
      background: $color--secondary !important;
      color: $color__font--light !important;
    }
    &:focus,
    &:active {
      background: $color--active !important;
      color: $color__font--light !important;
      box-shadow: $shadow--focus !important;
    }
    &.action {
      background: $color--primary !important;
      color: $color__font--light !important;
    }
    &.muted {
      background: $color--muted !important;
      color: $color__font--text !important;
    }
  }
  &--hint {
    width: 20rem;
    height: max-content;
    padding: $padding__card;

    background: $color--error;
    border-radius: $radius__list;

    @include text--important(normal, 400);
    color: $color__font--light;
    box-shadow: $shadow__alert;

    position: fixed;
    left: $margin__alert;
    bottom: $margin__alert;
    z-index: 1300;

    transition: $transition;
    opacity: 0.6;

    @include cursor(default);
    &:hover {
      opacity: 1;
    }
  }
}

.c-pagination {
  $_: ".page-link";
  &__btn {
    margin-right: 0.5rem;
    &:last-of-type {
      margin-right: 0;
    }
    #{$_} {
      @include square(2rem, $radius__tag);

      background: $color--gray6;
      border: $height__line solid transparent;

      @include text(normal, "");
      color: $color--primary;

      display: flex;
      align-items: center;
      justify-content: center;
      @include interation(tab);
    }
    &.active {
      #{$_} {
        background-color: $color--primary;
        border: $height__line solid $color--primary;

        color: $color__font--light;
      }
    }
  }
}

.c-table {
  $_: &;
  &__row {
    display: grid;
    grid-template-columns: 1fr 3fr 2fr;
    &:last-of-type {
      #{$_}__col {
        &:first-of-type {
          border-radius: 0 0 0 $radius__block;
        }
        &:last-of-type {
          border-radius: 0 0 $radius__block 0;
        }
      }
    }
  }
  &__col {
    padding: $padding__action;
    background: $color__bg--primary;
    @include text(normal, "");
    color: $color__font--text;
    &--head {
      background: $color--primary;
      color: $color__font--light;
      &:first-of-type {
        border-radius: $radius__block 0 0 0;
      }
      &:last-of-type {
        border-radius: 0 $radius__block 0 0;
      }
    }
  }
}

.c-verification-hint {
  position: fixed;
  right: 1rem;
  bottom: 1rem;
  z-index: 1300;
  @mixin btn-style {
    background: $color--secondary;
    box-shadow: $shadow__hint;
  }
  &__btn {
    @include square(3rem, 50%);
    @include btn-style();
    &:hover,
    &:focus,
    &:active {
      @include square(3rem, 50%);
      @include btn-style();
    }
  }
  &__icon {
    font-size: 1.5rem;
  }
}
