.l-key-visual {
  width: 100%;
  height: 80vh;
}

.l-section {
  $_: &;
  padding: $padding__page 0;
  background: $color--light;
  &--gray {
    background: $color__bg;
    border-radius: $radius__block;
  }
  &__title {
    padding: 1.5rem 0;
    margin-bottom: 2rem;
    @include heading(h2);
    text-align: center;

    position: relative;
    &::after {
      @include pesudo("");
      width: 40%;
      height: $height__line;

      background: $color--gray4;

      top: auto;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
    }
  }
  &__paragraph {
    margin-bottom: 1.5rem;
    text-align: center;
  }
  &__img {
    width: $size__icon--landscape;
    margin-bottom: 1rem;
    @media screen and (orientation: portrait) {
      width: $size__icon--portrait;
    }
  }
  &__block {
    width: 100%;
    padding: $padding__block;
    height: auto;
    aspect-ratio: 1 / 1;

    background: transparent;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    @include interation(card);
    &::after {
      border-radius: $radius__block;
    }
    &--gray {
      &::after {
        background: $color__bg;
      }
    }
    &--light {
      &::after {
        background: $color--light;
      }
    }
  }
  &__wrapper {
    background: $color--gray7;
  }
  &__text {
    @include text(large, 500);
    text-align: center;
  }
  @media screen and (max-width: $md) {
    padding: 2.75rem 0;
  }
}

.l-home {
  &__social-survey {
    border-radius: 0;
  }
}
