.l-not-found {
  width: 100vw;
  height: calc(100vh - $height__header - $height__footer);

  display: flex;
  flex-direction: column;
  justify-content: center;
  &__text {
    margin-bottom: 1rem;
  }
}
