:root {
  --color--gray1: rgba(51, 51, 51, 1); //#333333
  --color--gray2: rgba(80, 80, 80, 1); //#505050
  --color--gray3: rgba(130, 130, 130, 1); //#828282
  --color--gray4: rgba(189, 189, 189, 1); //#bdbdbd
  --color--gray5: rgba(224, 224, 224, 1); //#e0e0e0
  --color--gray6: rgba(242, 242, 242, 1); //#f2f2f2
  --color--gray7: rgba(250, 250, 250, 1); //#fafafa

  --color--primary: rgba(68, 160, 201, 1); // #44a0c9
  --color--secondary: rgba(1, 116, 187, 1);
  --color--hover: rgba(182, 221, 239, 1);
  --color--focus: rgba(1, 116, 187, 0.3);
  --color--active: rgba(0, 104, 168, 1);
  --color--light: rgba(255, 255, 255, 1);
  --color--accent: rgba(231, 162, 145, 1);
  --color--error: rgba(207, 104, 78, 1);
  --color--muted: var(--color--gray5);

  --color__opacity--primary: rgba(68, 160, 201, 0.1);
  --color__opacity--secondary: rgba(68, 160, 201, 0.6);
  --color__opacity--accent: rgba(121, 176, 234, 0.2);
  --color__opacity--hover: rgba(55, 145, 53, 0.2);
  --color__opacity--dark: rgba(0, 0, 0, 0.5);
  --color__opacity--light: rgba(255, 255, 255, 0.6);

  --color__shadow: rgba(0, 0, 0, 0.2);
  --color__shadow--dropdown: rgba(0, 0, 0, 0.3);

  --color__font--text: var(--color--gray1);
  --color__font--subtext: var(--color--gray2);
  --color__font--muted: var(--color--gray3);
  --color__font--light: var(--color--light);

  --color__link: var(--color--primary);

  --color__bg--primary: rgba(236, 245, 250, 1); //#ecf5fa
  --color__bg--alert: rgba(255, 255, 255, 0.9);

  --color__graph--double-1: rgba(1, 116, 187, 1); //#0174bb
  --color__graph--double-2: rgba(177, 75, 75, 1); //#b14b4b
  --color__graph--plain-1: rgba(172, 198, 226, 1); //#acc6e2
  --color__graph--plain-2: rgba(219, 186, 185, 1); //#acc6e2
  --color__graph--multiple-1: rgba(84, 112, 198, 1); //#acc6e2
  --color__graph--multiple-2: rgba(145, 204, 117, 1); //#acc6e2
  --color__graph--multiple-3: rgba(250, 200, 88, 1); //#acc6e2
  --color__graph--multiple-4: rgba(238, 102, 102, 1); //#acc6e2
  --color__graph--multiple-5: rgba(115, 192, 222, 1); //#acc6e2
  --color__graph--multiple-6: rgba(59, 162, 114, 1); //#acc6e2
  --color__graph--multiple-7: rgba(252, 132, 82, 1); //#acc6e2
  --color__graph--multiple-8: rgba(154, 96, 180, 1); //#acc6e2
  --color__graph--multiple-9: rgba(234, 124, 204, 1); //#acc6e2
  --color__map-1: var(--color--accent);
  --color__map-2: var(--color--secondary);
  --color__map-3: rgba(151, 118, 80, 1); //#977650
  --color__map-4: rgba(181, 181, 181, 1); //#b5b6b6
  --color__map-5: rgba(215, 178, 82, 1); //#d7b252
  --color__map-6: rgba(190, 215, 82, 1); //#bed752
}
