.c-option {
  $_: &;
  $margin__option: 0.5rem;
  $color--normal: $color--light;
  $color--active: $color--primary;
  &--sidebar {
    #{$_}__toggle {
      @extend .c-form__input;
      background: $color--bg;
      @include interation(input);
    }
    #{$_}__set {
      margin-bottom: 0;
      border-bottom: $border__offcanvas-item;
    }
    #{$_}__menu {
      width: 100%;
      padding: 0;
    }
  }
  &__col {
    width: 100%;
  }
  &__title {
    margin-bottom: 1rem;
    @include heading(h5);
    text-align: center;
  }
  &__set {
    margin-bottom: 0.5rem;

    position: relative;
    &:last-of-type {
      margin-bottom: 0;
    }
    &--row {
      margin: 0 0.5rem 0 0;
    }
  }
  &__input {
    &:checked ~ #{$_}__label {
      color: $color__font--light;
      background: $color--active;
    }
  }
  &__label {
    width: 100%;
    padding: 0.375rem;

    @include text(normal, "");
    background: $color--normal;

    @include cursor(pointer);
    transition: $transition;
    &:hover {
      background: $color--hover;
    }
  }
  &__toggle {
    @include clear(btn);
    width: 100%;
    padding: 0;
    margin-bottom: 0.5rem;

    position: relative;
    &::after {
      @include arrow;
      @include square(2rem, 0);

      top: 50%;
      left: auto;
      right: 0.5rem;
      transform: translateY(-50%) rotate(90deg);
    }
    .c-checkbox {
      margin-bottom: 0;
    }
  }
  &__wrapper {
    @include clear(btn);
    width: 100%;
    padding: $padding__action;

    text-align: start;

    background: $color--light;
    border-radius: $radius__btn;
    @include interation(btn);
  }
  &__badge {
    @include square(1rem, 50%);
    background: $color--error;
    @include text(extra-small, 400);
    color: $color__font--light;

    display: flex;
    align-items: center;
    justify-content: center;

    position: absolute;
    top: 50%;
    right: 2.5rem;
    transform: translateY(-50%);
    z-index: 1;
  }
  &__hint {
    margin-top: 1rem;
    @include text(small, 400);
    color: $color--error;
  }
  &__seg {
    margin-right: 0.5rem;
  }
  &__menu {
    width: 100%;
    max-width: none;
    padding: $padding__block;

    background: $color__bg;
    border: none;
    border-radius: $radius__btn;
    box-shadow: $shadow__popup;
  }
  &__content {
    margin-bottom: 1rem;
  }
  &__text {
    margin-right: 1rem;
  }
  &__item {
    padding: 1rem;

    display: flex;
    align-items: center;
    justify-content: flex-start;

    @include interation(btn--opacity);
  }
  &__action {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
  &__btn {
    @include text(normal, 400);
    &:first-of-type {
      margin-right: 1rem;
    }
  }
  &__input {
    width: 100%;
    background-color: $color--light;
  }
}

.l-interviews {
  &__item {
    padding: $padding__block;
    margin-bottom: $margin__block;

    border: $border__section;
    border-radius: $radius__block;
    &:first-of-type {
      margin-top: $margin__block;
    }
  }

  &__subtitle {
    width: max-content;
    padding: $padding__block;
    height: 4rem;
    margin-right: 0.5rem;

    @include heading(h5);
    white-space: nowrap;
    color: $color__font--light;

    background: $color__primary;
    border-radius: $radius__tab;
    &:last-of-type {
      margin-right: 0;
    }
  }
  &__tag {
    padding: 0.25rem 0.5rem;
    margin: 0 0 0.5rem 0.5rem;

    @include text(small, "");
    &--category {
      background: $color--secondary;
      color: $color__font--light;
    }
    @media screen and (max-width: $md) {
      margin-left: 0;
      margin-right: 0.5rem;
    }
    &.active {
      background: $color--hover;
    }
  }
  &__subtext {
    @include text(small, "");
    text-align: end;
    color: $color__font--muted;
  }
  &__filter {
    margin-bottom: 1rem;
  }
}

.l-issue {
  &__item {
    width: 100%;
    @include clear(btn);
    padding: $padding__block;
    background: $color__bg;
    border-radius: $radius__block;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    @include cursor(default);
    &:hover,
    &:focus,
    &:active {
      background-color: $color__bg;
    }
    &--btn {
      @include interation(card);
      @include cursor(pointer);
      &::after {
        background: $color__bg;
        border-radius: $radius__block;
      }
      &:hover,
      &:focus,
      &:active {
        &::after {
          background: $color__bg;
          border-radius: $radius__block;
        }
      }
    }
  }
  &__heading {
    width: 100%;
  }
  &__title {
    @include heading(h5);
    color: $color__font--text;
    text-align: start;
  }
  &__text {
    padding: $padding__block;
    margin: 0.5rem 0;

    @include text(normal, "");
    color: $color__font--text;
    text-align: start;

    background: $color--light;
    border-radius: $radius__block;
  }
  &__subtext {
    @include text(small, "");
    color: $color__font--muted;
    text-align: start;
  }
}

.l-social-economy-data {
  &__map {
    .echarts-for-react {
      height: 800px !important;
    }
  }
  &__heading {
    background: $color__bg--primary;
    border-radius: $radius__input;
  }
  &__title {
    padding: $padding__action;
    margin-bottom: $margin__title;

    @include heading(h4);
  }
  &__input {
    background-color: $color--light;
  }
  &__detail {
    .echarts-for-react {
      height: 800px !important;
    }
  }
  &__subtitle {
    margin-bottom: 0.5rem;
    @include heading(h4);
    color: $color--primary;
  }
  &__section {
    margin-bottom: $margin__section;
    &:last-of-type {
      margin-bottom: 0;
    }
  }
  .c-select {
    &__input {
      width: 100%;
      background-color: $color__input;
    }
  }
}

.l-economy-and-industry {
  &__map {
    .echarts-for-react {
      height: 800px !important;
    }
  }
}

.l-landscapes {
  position: relative;
  &__main {
    @media screen and (max-width: $lg) {
      display: none;
    }
  }
  &__map {
    height: calc(100vh - $height__header - $height__nav);
    border-radius: 0;
  }
  &__nav {
    width: 100%;
    height: $height__nav;

    background: $color__bg--primary;
    box-shadow: $shadow__header;

    position: sticky;
    top: $height__header;
    z-index: 1039;
  }
  &__container {
    width: 100%;
    height: 100vh;

    display: none;
    @media screen and (max-width: $lg) {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
  &__text {
    @include text(normal, 400);
    color: $color__font--text;
    text-align: center;
  }
  .c-list {
    &__btn {
      @include clear(btn);
      width: 100%;
      padding: $padding__item;
      margin-bottom: 0.5rem;

      background: $color--gray6;
      border-radius: $radius__btn;

      @include text(normal, 400);
      color: $color__font--text;
      text-align: start;

      @include cursor(pointer);

      transition: $transition;
      &:hover {
        background: $color--hover;
      }
      &:focus,
      &.active {
        background: $color--primary;
        color: $color__font--light;
      }
    }
  }
  .c-select {
    &__set {
      width: 100%;
      margin: 0;
    }
    &__input {
      width: 100%;
      background-color: $color--gray6;
    }
  }
  .c-map {
    .leaflet-top {
      top: 50%;
      transform: translateY(-50%);
    }
    &__menu {
      width: $width__menu;
      max-width: $width__menu;
      min-width: $width__menu;

      padding: 0;
      border-radius: 0;
      @media screen and (max-width: $xl) {
        width: $width__menu--m;
        max-width: $width__menu--m;
        min-width: $width__menu--m;
      }
    }
    &__marker {
      &--sm {
        &[data-category="1"] {
          background-color: $color__map-1;
        }
        &[data-category="2"] {
          background-color: $color__map-2;
        }
        &[data-category="3"] {
          background-color: $color__map-3;
        }
        &[data-category="4"] {
          background-color: $color__map-4;
        }
        &[data-category="5"] {
          background-color: $color__map-5;
        }
        &[data-category="6"] {
          background-color: $color__map-6;
        }
      }
    }
    &__wrapper {
      width: max-content;
      min-width: max-content;
      height: calc(100vh - $height__header - $height__nav);

      position: static;
      top: 0;
      left: 0;
      transform: none;

      display: flex;
      align-items: center;
    }
    &__content {
      width: 100%;
      height: 100%;
      padding: 1.5rem;

      background: $color--light;

      overflow-x: hidden;
      overflow-y: auto;
      @include scrollbar("");
      @media screen and (max-width: $xl) {
        padding: $padding__menu--m;
      }
    }
    &__tag {
      height: 5rem;

      top: 50%;
      transform: translateY(-50%);
      z-index: 1;
    }
  }
}

.c-nav {
  &__wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
  }
  &__divider {
    &--left {
      width: $width__menu;
      max-width: $width__menu;
      min-width: $width__menu;

      padding-left: 1.5rem;
      @media screen and (max-width: $xl) {
        width: $width__menu--m;
        max-width: $width__menu--m;
        min-width: $width__menu--m;
      }
    }
    &--right {
      width: calc(100% - $width__menu);
      height: 100%;
      padding: 0.5rem 0.5rem 0.5rem 0;

      display: flex;
      align-items: center;
      justify-content: space-between;
      @media screen and (max-width: $xl) {
        width: calc(100% - $width__menu--m);
      }
    }
  }
  &__title {
    @include heading(h5);
    margin-right: 2rem;

    white-space: nowrap;
  }
  &__tab {
    @include clear(btn);
    width: calc(100% / 7);
    height: 100%;
    margin-right: 0.5rem;

    background: $color--light;
    border-radius: $radius__tab;

    @include heading(h6);

    display: flex;
    align-items: center;
    justify-content: center;

    transition: $transition;
    &:hover,
    &:focus,
    &:active,
    &.active {
      &[data-category=""] {
        background: $color--primary;
        color: $color__font--light;
      }
      &[data-category="1"] {
        background: #e7a291;
      }
      &[data-category="2"] {
        background: $color--secondary;
        color: $color__font--light;
      }
      &[data-category="3"] {
        background: #977650;
        color: $color__font--light;
      }
      &[data-category="4"] {
        background: #b5b6b6;
      }
      &[data-category="5"] {
        background: #d7b252;
      }
      &[data-category="6"] {
        background: #bed752;
      }
    }
    &:last-of-type {
      margin-right: 0;
    }
  }
}

.c-menu {
  width: $width__menu;
  max-width: $width__menu;
  min-width: $width__menu;
  height: 100%;
  padding: 1.5rem 3.5rem;

  background: $color__bg--primary;

  position: relative;

  transition: $transition;

  overflow-y: auto;
  overflow-x: hidden;
  @include scrollbar("");
  // &.active {
  //   transform: translate3d(100%, 0, 0);
  // }
  @media screen and (max-width: $xl) {
    width: $width__menu--m;
    max-width: $width__menu--m;
    min-width: $width__menu--m;
    padding: $padding__menu--m;
  }
  &__item {
    @include text(small, 400);
    color: $color__font--text;
    &--seg {
      margin-bottom: 1rem;
    }
    &--dot {
      padding-left: 1.5rem;

      position: relative;
      &::before {
        @include pesudo("");
        @include square(0.25rem, 50%);
        background: $color--secondary;
        top: 0.75rem;
        left: 0.5rem;
      }
    }
  }
  &__title {
    padding: 0 0.5rem;
    margin-bottom: 0.5rem;

    background: $color--primary;
    border-radius: $radius__list;

    @include text(normal, 500);
    color: $color__font--light;
  }
  &__subtitle {
    @include text(normal, 500);
    color: $color__font--subtext;
  }
  &__text {
    margin-right: 0.5rem;
    &:last-of-type {
      margin-right: 0;
    }
    &--muted {
      margin-right: 0.5rem !important;

      color: $color__font--muted;
    }
  }
  &__action {
    padding: 0;
    margin-right: 0.5rem;

    @include clear(btn);
    @include text(small, 400);
    color: $color__link;
  }
  &__btn {
    position: absolute;
    right: 0.25rem;
    top: 0.25rem;
  }
  &__img {
    @include clear(btn);
    width: 100%;
    aspect-ratio: 4 / 3;
    padding: 0;

    border-radius: $radius__block;
    overflow: hidden;
  }
  &__link {
    @include cursor(pointer);
  }
}

.c-single-dropdown {
  &__toggle {
    @include clear(btn);
    width: 100%;
    height: $height__input;
    background: $color--light;

    @include text(normal, 400);
    color: $color__font--text;
    text-align: start;

    position: relative;
    &:hover {
      background: $color--light;

      color: $color__font--subtext;
    }
    &:focus,
    &:active,
    &:active:focus {
      background: $color--light;
      box-shadow: $shadow--focus;

      color: $color__font--subtext;
    }
    &::after {
      @include arrow;
      @include square(2rem, 0);

      top: 50%;
      left: auto;
      right: 0.5rem;
      transform: translateY(-50%) rotate(90deg);
    }
  }
  &__menu {
    width: 100%;
    padding: $padding__block;

    background: $color__bg;
    border: none;
    border-radius: $radius__btn;
    box-shadow: $shadow__popup;
  }
  &__wrapper {
    width: max-content;

    display: inline-block;
  }
  &__tag {
    @extend .e-btn;
    @extend .e-btn--wmax;
    @extend .c-tag;
    margin: 0 0.5rem 0.5rem 0;
    background: $color--light;
    border-radius: $radius__btn;

    @include text(small, 400);
    color: $color__font--subtext;

    transition: $transition;
    @include cursor(pointer);

    &:hover {
      background: $color--hover;
      color: $color__font--subtext;
    }
    &:focus,
    &:active,
    &:active:focus,
    &:focus-visible {
      outline: none;
      box-shadow: $shadow--focus;
    }
    &:checked,
    &.checked {
      background: $color--secondary;
      box-shadow: $shadow--focus;

      color: $color__font--light;
      &:focus,
      &:active,
      &:active:focus,
      &:focus-visible {
        outline: none;
        box-shadow: $shadow--focus;
      }
    }
  }
}
