/* google fonts */
// Noto Sans TC
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500;700;900&display=swap");
// Inter
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

@import "~@fortawesome/fontawesome-free/scss/fontawesome.scss";
@import "~@fortawesome/fontawesome-free/scss/solid.scss";

@mixin heading($size) {
  font-family: "Inter", "Noto Sans TC", sans-serif;
  font-style: normal;
  line-height: 160%;
  letter-spacing: 0.03125rem;

  cursor: default;

  @if $size == h1 {
    font-size: 3.25rem;
    font-weight: 500;
  } @else if $size == h2 {
    font-size: 2.5rem;
    font-weight: 500;
  } @else if $size == h3 {
    font-size: 2rem;
    font-weight: 500;
  } @else if $size == h4 {
    font-size: 1.5rem;
    font-weight: 500;
  } @else if $size == h5 {
    font-size: 1.25rem;
    font-weight: 500;
  } @else if $size == h6 {
    font-size: 1rem;
    font-weight: 500;
  }
}

@mixin text($size, $weight) {
  font-family: "Inter", "Noto Sans TC", sans-serif;
  font-style: normal;
  line-height: 200%;
  letter-spacing: 0.03125rem;

  cursor: default;

  @if $size == large {
    font-size: 1.25rem;
  } @else if $size == medium {
    font-size: 1.125rem;
  } @else if $size == normal {
    font-size: 1rem;
  } @else if $size == small {
    font-size: 0.875rem;
  } @else if $size == extra-small {
    font-size: 0.75rem;
  }

  @if $weight == bold {
    font-weight: 700;
  } @else if $weight == "" {
    font-weight: 400;
  } @else {
    font-weight: $weight;
  }
}

@mixin interation($element) {
  transition: $transition;

  @if $element == btn {
    &:hover {
      background: $color--hover;
    }
    &:focus,
    &:active {
      color: $color__font--light;
      background: $color--active;
      box-shadow: $shadow--focus;
    }
  } @else if $element == input {
    &:hover {
      background-color: $color__input;
    }
    &:focus,
    &:active {
      background-color: $color--light;
      color: $color__font--text;
      border: $border__input;
      box-shadow: $shadow--focus;
    }
  } @else if $element == icon {
    &:focus,
    &:active {
      box-shadow: $shadow--focus;
    }
  } @else if $element == card {
    position: relative;
    z-index: 0;
    &::after {
      @include pesudo("");
      width: 100%;
      height: 100%;
      z-index: -1;
      transition: $transition;
    }
    &:hover {
      &::after {
        box-shadow: $shadow__card--active;
      }
    }
  } @else if $element == tab {
    &:hover {
      background: $color--gray5;
    }
    &:focus,
    &:active {
      color: $color__font--light;
      background: $color--active;
      box-shadow: $shadow--focus;
    }
  }
}

@mixin clear($element) {
  @if $element == btn {
    background: transparent;
    border: none;
    box-shadow: none;
    outline: none;
    &:hover,
    &:focus {
      background: transparent;
      border: none;
      box-shadow: none;
      outline: none;
    }
  } @else if $element == "scrollbar" {
    &::-webkit-scrollbar {
      display: none;
    }
    -ms-overflow-style: none;
    scrollbar-width: none;
  } @else if $element == "input" {
    background-color: transparent;
    border: none;
    box-shadow: none;
    outline: none;
    &:focus,
    &:active {
      background-color: transparent;
      border: none;
      box-shadow: none;
      outline: none;
    }
  }
}

@mixin pesudo($content) {
  content: $content;
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
  font-size: 1rem;

  position: absolute;
  top: 0;
  left: 0;
}

@mixin text-truncate($line) {
  display: -webkit-box;
  -webkit-line-clamp: $line;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

@mixin scrollbar($style) {
  @if $style == hidden {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
    &::-webkit-scrollbar {
      display: none;
    }
  } @else {
    &::-webkit-scrollbar {
      width: 0.25rem;
    }

    &::-webkit-scrollbar-track {
      background: transparent;
      border-radius: 10rem;
    }

    &::-webkit-scrollbar-thumb {
      background: $color--gray5;
      border-radius: 10rem;
      background-clip: content-box;
      transition: $transition;
      &:hover {
        background: $color--hover;
      }
    }
  }
}

@mixin arrow() {
  @include pesudo($icon__right);
  width: max-content;
  height: max-content;

  background-image: none;

  color: $color--secondary;

  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin cursor($cursor) {
  cursor: $cursor !important;
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  div,
  a,
  span,
  p,
  input,
  label {
    cursor: $cursor !important;
  }
}

@mixin square($size, $radius) {
  $size: $size;
  width: $size;
  height: $size;
  border-radius: $radius;
}
