$color--primary: var(--color--primary);
$color--secondary: var(--color--secondary);
$color--hover: var(--color--hover);
$color--active: var(--color--active);
$color--focus: var(--color--focus);
$color--accent: var(--color--accent);
$color--error: var(--color--error);
$color--muted: var(--color--muted);

$color--light: var(--color--light);

$color--gray1: var(--color--gray1);
$color--gray2: var(--color--gray2);
$color--gray3: var(--color--gray3);
$color--gray4: var(--color--gray4);
$color--gray5: var(--color--gray5);
$color--gray6: var(--color--gray6);
$color--gray7: var(--color--gray7);

$color__font--text: var(--color__font--text);
$color__font--subtext: var(--color__font--subtext);
$color__font--light: var(--color__font--light);
$color__font--muted: var(--color__font--muted);

$color__opacity--primary: var(--color__opacity--primary);
$color__opacity--secondary: var(--color__opacity--secondary);
$color__opacity--accent: var(--color__opacity--accent);
$color__opacity--hover: var(--color__opacity--hover);
$color__opacity--dark: var(--color__opacity--dark);
$color__opacity--light: var(--color__opacity--light);

$color__shadow: var(--color__shadow);
$color__shadow--dropdown: var(--color__shadow--dropdown);

$color__bg: $color--gray6;
$color__bg--primary: var(--color__bg--primary);
$color__bg--alert: var(--color__bg--alert);
$color__bg--plain: var(--color__bg--plain);

$color__graph--double-1: var(--color__graph--double-1);
$color__graph--double-2: var(--color__graph--double-2);
$color__graph--plain-1: var(--color__graph--plain-1);
$color__graph--plain-2: var(--color__graph--plain-2);
$color__graph--multiple-1: var(--color__graph--multiple-1);
$color__graph--multiple-2: var(--color__graph--multiple-2);
$color__graph--multiple-3: var(--color__graph--multiple-3);
$color__graph--multiple-4: var(--color__graph--multiple-4);
$color__graph--multiple-5: var(--color__graph--multiple-5);
$color__graph--multiple-6: var(--color__graph--multiple-6);
$color__graph--multiple-7: var(--color__graph--multiple-7);
$color__graph--multiple-8: var(--color__graph--multiple-8);
$color__graph--multiple-9: var(--color__graph--multiple-9);
$color__map-1: var(--color__map-1);
$color__map-2: var(--color__map-2);
$color__map-3: var(--color__map-3);
$color__map-4: var(--color__map-4);
$color__map-5: var(--color__map-5);
$color__map-6: var(--color__map-6);

$color__title: var(--color__bg--primary);

$color__link: var(--color__link);
$color__tag: var(--color--gray6);
$color__input: var(--color--gray6);

$width__menu: 25rem;
$width__menu--m: 18rem;

$height__line: 0.125rem;
$height__header: 5rem;
$height__header--m: 5rem;
$height__border: 0.0625rem;
$height__footer: 18.5rem;
$height__input: 2.75rem;
$height__tag: 2.75rem;
$height__breadcrumb: 1.5rem;
$height__nav: 3.75rem;

$padding__action: 0.5rem 1rem;
$padding__card: 1rem;
$padding__page: 2.5rem;
$padding__popup: 1.5rem;
$padding__block: 1rem;
$padding__tag: 0.375rem 0.75rem;
$padding__modal: 3rem;
$padding__item: 0.375rem 0.75rem;
$padding__menu--m: 1rem;

$margin__breadcrumb: 2rem;
$margin__section: 2.5rem;
$margin__hr: 2rem;
$margin__block: 2rem;
$margin__title: 1rem;
$margin__alert: 0.5rem;

$size__icon--landscape: 5vw;
$size__icon--portrait: 25%;

$radius__btn: 0.25rem;
$radius__tab: $radius__btn;
$radius__input: $radius__btn;
$radius__block: 0.5rem;
$radius--infinity: 100rem;
$radius__tag: $radius__btn;
$radius__accordion: 0;
$radius__card: $radius__block;
$radius__popup: $radius__block;
$radius__menu: 0 0 0.5rem 0.5rem;
$radius__list: $radius__btn;

$border__tab: $height__border solid $color--gray5;
$border__input: $height__border solid transparent;
$border__input--active: $height__border solid $color--gray5;
$border__input--checked: $height__border solid $color__link;
$border__section: $height__border solid $color--gray5;
$border__offcanvas-item: $height__border solid $color--gray6;
$border--alpha: $height__border solid transparent;
$border__marker: 0.25rem solid;
$border__marker--sm: 0.0625rem solid;

$shadow--focus: 0 0 0 0.25rem $color--focus;
$shadow__tab: 0 0 0.2rem 0 $color__shadow;
$shadow__header: 0 0rem 1rem 0 $color__shadow;
$shadow__dropdown: 0 0.5rem 1rem 0 $color__shadow;
$shadow__accordion: 0 0 0.0625rem 0 $color__shadow;
$shadow__popup: 0 0.5rem 0.5rem 0 $color__shadow;
$shadow__alert: 0 0 0.5rem 0 $color__shadow;
$shadow__card: 0 0 0.2rem 0 $color__shadow;
$shadow__card--active: 0 0 1rem 0 $color__shadow;
$shadow__marker: 0 0 0.3rem 0 $color__shadow;
$shadow__tag: 0.1rem 0 0.15rem 0 $color__shadow;
$shadow__hint: 0 0 1rem 0 $color__shadow;

$transition: 0.2s ease-in-out;

/* rwd spec */
$sm: 575px;
$md: 767px;
$lg: 991px;
$xl: 1199px;
$xxl: 1399px;

/* brand color */
$color__python: #306998;
$color__git: #f05133;
$color__pygame: #07dc1a;
$color__turtle: #448632;

$icon__right: "\f054";
